PD.ServiceClient/Service References/PDService/PDService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PD.Model.SystemManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PD.Model.SystemManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfT_PB_BusinessTypeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_PB_BusinessTypeModel" nillable="true" type="tns:T_PB_BusinessTypeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_PB_BusinessTypeModel" nillable="true" type="tns:ArrayOfT_PB_BusinessTypeModel" />
  <xs:complexType name="T_PB_BusinessTypeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderCode" type="xs:int" />
      <xs:element minOccurs="0" name="PB_BusinessTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PB_BusinessTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PB_BusinessTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_PB_BusinessTypeModel" nillable="true" type="tns:T_PB_BusinessTypeModel" />
  <xs:complexType name="ArrayOfT_PB_NEWSTYPEModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_PB_NEWSTYPEModel" nillable="true" type="tns:T_PB_NEWSTYPEModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_PB_NEWSTYPEModel" nillable="true" type="tns:ArrayOfT_PB_NEWSTYPEModel" />
  <xs:complexType name="T_PB_NEWSTYPEModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModelState">
        <xs:sequence>
          <xs:element minOccurs="0" name="FatherId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderCode" type="xs:int" />
          <xs:element minOccurs="0" name="PB_NEWSTYPECode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PB_NEWSTYPEID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PB_NEWSTYPEName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="T_PB_NEWSTYPEModel" nillable="true" type="tns:T_PB_NEWSTYPEModel" />
  <xs:complexType name="ModelState">
    <xs:sequence>
      <xs:element minOccurs="0" name="State" type="tns:State" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelState" nillable="true" type="tns:ModelState" />
  <xs:simpleType name="State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="State" nillable="true" type="tns:State" />
</xs:schema>