PD.ServiceClient/Service References/PDService/PDService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PD.Model.BaseData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PD.Model.BaseData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfT_BASE_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_BASE_MENU" nillable="true" type="tns:T_BASE_MENU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_BASE_MENU" nillable="true" type="tns:ArrayOfT_BASE_MENU" />
  <xs:complexType name="T_BASE_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" name="MenuID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleMenuId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleMenuOrder" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_BASE_MENU" nillable="true" type="tns:T_BASE_MENU" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChildMenu" nillable="true" type="tns:ArrayOfChildMenu" />
      <xs:element minOccurs="0" name="MenuAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="ArrayOfChildMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChildMenu" nillable="true" type="tns:ChildMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChildMenu" nillable="true" type="tns:ArrayOfChildMenu" />
  <xs:complexType name="ChildMenu">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChildMenu" nillable="true" type="tns:ChildMenu" />
  <xs:complexType name="ArrayOfMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenu" nillable="true" type="tns:ArrayOfMenu" />
</xs:schema>